/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
    font-family: lucidas;
    src: url(../fonts/lucida-sans-unicode.ttf);
}


@mixin box{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

@mixin boxp{
	box-sizing: padding-box;
	-moz-box-sizing: padding-box;
	-webkit-box-sizing: padding-box;
	-o-box-sizing: padding-box;
}

@mixin bor-rad($per){
	border-radius: $per;
	-moz-border-radius: $per;
	-webkit-border-radius: $per;
	-o-border-radius: $per;
}

@mixin grad($col1, $col2){
	background: -webkit-linear-gradient($col1, $col2);
	background: -o-linear-gradient($col1, $col2);
	background: -moz-linear-gradient($col1, $col2);
	background: linear-gradient($col1, $col2);
}

@mixin boxsh($t1, $t2, $t3, $color){
	box-shadow: $t1 $t2 $t3 $color;
	-moz-box-shadow: $t1 $t2 $t3 $color;
	-webkit-box-shadow: $t1 $t2 $t3 $color;
	-o-box-shadow: $t1 $t2 $t3 $color;
}

*{
	font-family: arial;
	text-decoration: none;
}

body{
	background: #333;
}

.wrapper{
	width: 1000px;
	height: 1310px;
/*	height: 100vh;*/
	padding: 0px 45px 0 45px;
	@include box;
	background: #fff;
	margin: 0 auto;
}

.head{
	width: 100%;
	height: 53px;
	padding: 18px 0 0 0;
	@include box;

}

.head>div{
	display: inline-block;
	

}
.headPhone{
	color: #5e696d;
	margin: 0 11px 0 6px;

	div{
		height: 22px;
		width: 22px;
		@include bor-rad(50%);
		@include grad(#0d3458, #1e6584);
		display: inline-block;

	}
	i{
		color: #fff;
		position: relative;
		left: 4px;
		top: 3px;
	}
	span{
		font-size: 18px;
		position: relative;
		top: 3px;
		letter-spacing: .4px;
		font-family: arial;
	}
}

.headLogin{
	@include grad(#1f6685, #0d3458);
	@include bor-rad(3px);
	@include boxsh(2px, 3px, 1px, rgba(0,0,0,.3));
	@inlude box;
	form{
		display: inline-block;
		color: #97a2a6;
		font-family: lucidas;
		padding: 2px 10px 3px 2px;
		input{
			width: 110px;
			height: 14px;
			border: 0;
			@include bor-rad(1px);
			margin: 0px 4px 3px 0;
			font-size: 13px;
			font-family: lucidas;
			/*vertical-align: top;*/
		}
		.margNon{
			margin: 0px -3px 3px 0;
		}
	}
	i{
		color: #fff;
		font-size: 18px;
		margin: 0 0 0 7px;
	}
	.submit{
		width: 35px;
		background: none;
		cursor: pointer;
		color: #fff;
		font-family: lucidas;
		text-transform: lowercase;
		font-size: 10.91px;
		margin: 0px -4px 3px 0;
	}

	.reg{
		margin: 0 15px 0 5px;
		color: #fff;
		font-family: lucidas;
		font-size: 10.91px;
		text-transform: lowercase;
		margin: 0px -4px 3px 0;
		letter-spacing: -0.3px;
	}
	span{
		color: #fff;
		font-family: lucidas;
		font-size: 10.91px;

	}
	.forgotPass{
		color: #bfbfbf;
		font-size: 12px;
		font-family: lucidas;
		text-decoration: underline;
		text-transform: lowercase;
		margin: 0 0 0 20px;
		letter-spacing: 0.1px;
		word-spacing: -1.7px;
	}
}

.headNavi{
	width: 74px;
	height: 18px;
	@include bor-rad(20px);
	@include boxsh(0px, 1px, 3px, rgba(0,0,0,.4));
	margin: 0 0 0 13px;
	position: relative;
	top: -1px;
	i{
		display: inline-block;
		margin: 0 0 0 7px;
		color: #76848a;
		font-size: 12px;
	}
	.nav2{
		width: 13px;
		height: 13px;
		background: url(../img/nav2.jpg);
		background-position: -5px -1px;
		display: inline-block;
		margin: 0 0 0 5px;
		opacity: .6;
		position: relative;
		top: 3px;
		a{
			width: 13px;
			height: 13px;
			display: block;
		}
	}
}
/*slider*/

.slider{
	width: 100%;
	height: 237px;
	background: url(../img/slider.jpg);
	background-size: cover;
}



/*menu*/
.menu{
	width: 100%;
	height: 33px;
	margin: 7px 0 0 0;
	border: 1px solid #0d1642;
	@include bor-rad(5px);
	@include grad(#282c30, #000);
	@include boxsh(2px, 3px, 5px, rgba(0,0,0,.75));
	@include boxp;
	@include box;
	.mainMenu{
		margin: 0 0 0 129px;
		
	}
	.menuCor2{
			position: relative;
			left: 3px;
	}
	.menuCor4{
			position: relative;
			left: -3px;
	}
	.menuCor5{
			position: relative;
			left: -9px;
	}
	
	.mainMenu li{
		float: left;
		padding: 0 2%;
		@include bor-rad(20px);
		a{
			color: #b1bcc0;
			font-family: lucidas;
			font-size: 13.64px;
			text-transform: uppercase;
			line-height: 28px;
			vertical-align: middle;
			display: block;
			/*padding: 0 15%;*/
			letter-spacing: -.13px;
			position: relative;
			top: 1px;
		}
	

				
	}
		.mainMenu li:hover{
			@include grad(#1f6585, #0d3458);
			a{
				color: #fff;
			}
		}
	.bucket{
		vertical-align: middle;
		float: left;
		padding: 8px 8px 8px 46px;
	}
	.secMenu{
		margin: 0 0 0 48px;
		li{
			float: left;
			line-height: 33px;
			color: #929b9f;
			font-family: arial;
			font-size: 11px;
			position: relative;
			top: -2px;
		}
		.blueNum{
			color: #0d5a8f;
			font-size: 12px;
			word-spacing: 2px;
		}
		.forMarg{
			margin: 0 11px 0 17px;
		}
	}

	

}









/*settings*/

.settings{
	margin: 13px 0 15px 0;
	width: 100%;
	padding: 0 0 0 3px;
	@include boxp;
	@include box;
	clear: both;
}

.settings>aside{
	height: 135px;
	border: 1px solid #9c9c9d;
	@include bor-rad(17px);
	@include boxsh(5px, 4px, 5px, rgba(0,0,0,.75));
	@include boxp;
	@include box;
	float: left;

}

.settingsLeft{
	width: 411/900*100%;
	margin: 0 14/900*100% 0 0;
	@include box;
	@include boxp;
	padding: 0 13px 10px 16px;
	td{
		font-size: 10px;
		font-family: arial;
		text-align: left;
		select{
			height: 19px;
			width: 103px;
			font-size: 11px;
			font-family: arial;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: url(../img/select.jpg) no-repeat right center;

		}
		span{
			font-family: arial;
			font-size: 9px;
			color: #77858b;
		}

	}
	.thDisk{
		color:#154468;
		font-weight: 900;
		letter-spacing: 1.5px;
		margin: 0 0 0 7px;
		padding: 0 0 3px 4px;
	}
	.findAuto{
		color:#154468;
		font-weight: 900;
		font-size: 12px;
		text-align: center;
		letter-spacing: 1.5px;
		padding: 0 0 7px 21px;
	}
	.right{
		text-align: right;
		margin: 0 7px 0  0;
		padding: 0 3px 7px 0;

	}
	.setTr1{
		height: 20px;
	}


	.littleSelect{
		width: 60px;
	}
	tr{
		height: 20px;
	}
	.frstTd{
		width: 77px;
	}
	.secTd{
		width: 150px;

	}
	.tr2td3{
		padding: 0 0 3px 0;
	}
	.tr2td4{
		padding: 0 0 1px 0;
	}


	.tr3td1{
		padding: 1px 0 0 1px;
		line-height: 8px;
	}
	.tr3td3{
		line-height: 8px;
		padding: 0 0 0 0;
	}


	.tr4td1{
		padding: 4px 0 0 2px;
		line-height: 8px;
	}
	.tr4td2{
		padding: 3px 0 0 0;
	}
	.tr4td4{
		line-height: 8px;
	}

	.tr5td1{
		padding: 2px 0 0 0;
	}
	.tr5td2{
		padding: 4px 0 0 0;
	}
	.tr5td3{
		padding: 0 0 2px 0;
	}



	.but{
			color: #154467;
			margin: 0 0 0 40px;
			font-size: 14px;
			width: 55px;
			height: 16px;
			background: none;
			border: 0;
			line-height: 14px;
			font-style: italic;
			text-decoration: underline;
			cursor: pointer;
		}
}

.settingsCenter{
	width: 190/900*100%;
	margin: 0 11/900*100% 0 0;
	@include box;
	@include boxp;
	padding: 1px 0px 5px 12px;

	td{
		font-size: 10px;
		font-family: lucidas;
		span{
			font-size: 15px;
			position: relative;
			top: -2px;
		}

	}
	
	select{
		width: 50px;
		height: 17px;
		font-size: 11px;
		font-family: arial;
		-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: url(../img/select.jpg) no-repeat right center;
	}

	.tr1td1{
		color: #114165;
		font-size: 12px;
		font-family: arial;
		font-weight: 900;
		letter-spacing: 1px;
		word-spacing: 1.4px;
		padding: 0 0 9px 0;
	}
	.tr2td1{
		padding: 5px 8px 0 1px;
		font-family: arial;
	}
	.tr2td2{
		padding: 0 0 0 0;
	}

	.tr2td3{
		position: relative;
		left: -3px;
	}

	.tr3td1{
		font-size: 11px;
		font-family: arial;
		padding: 6px 0 0 35px;
	}	

	.tr4td2{
		padding: 5px 0 0 0;
		select{
			width: 45px;
		}
	}

	.tr4td1{
		position: relative;
		top: -11px;
		left: 3px;
	}	
	

	.setCtntBoxWr{
		height: 14.5px;
	}
	.trBox{
		position: relative;
		top: 0;
		left: -5px;
		opacity: 0;
	}
	
	.trLab{
		font-size: 12px;
		position: relative;
		left: -20px;
		line-height: 13px;
	}

	.trLab::before{
		content: "";
		width: 9px;
		height: 9px;
		display: inline-block;
		/*border: 1px solid #114165;*/
		vertical-align: middle;
		position: relative;
		left: -4px;
		cursor: pointer;
		@include boxsh(inset 1px, 1px, 1px, rgba(0,0,0,.75));	
	}	

	.trBox:checked + .trLab:before{
		content: "\2713";
	    font-size: 15px;
	    color: #000;
	    /*vertical-align: top;*/
	    text-align: center;
	    line-height: 8px;
	}

	

	.but{
		color: #154467;
		font-size: 14px;
		width: 55px;
		height: 16px;
		background: none;
		border: 0;
		line-height: 14px;
		font-style: italic;
		text-decoration: underline;
		position: relative;
		top: 2px;
		left: -13px;
		cursor: pointer;
	}
}




.settingsRight{
	width: 265/900*100%;
	
	div{
		float: left;
	}

	
	td{
		font-size: 10px;
		font-family: lucidas;
		text-align: left;
		select{
			height: 17px;
			width: 57px;
			font-size: 11px;
			font-family: arial;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: url(../img/select.jpg) no-repeat right center;
		}
		span{
			font-family: arial;
			font-size: 9px;
			color: #77858b;
		}
	}
	


	.setRightOne{
		width: 176px;
		border-right: 1px solid #bdc6ca;

		.tr1td1{
			color: #114165;
			font-family: arial;
			font-size: 12px;
			letter-spacing: 2px;
			font-weight: 900;
			padding: 0 0 0 10px;
		}
		.tr2td1{
			padding: 7px 0 0 15px;
			letter-spacing: 1px;
		}
		.tr2td2{
			padding: 7px 12px 0 0;			
		}
		.tr3td1{
			padding: 3px 0 0 15px;
			letter-spacing: 1px;
			line-height: 8.4px;
			span{
				padding: 0 0 0 2px;
			}
			.spanTwo{
				letter-spacing: .7px;	
			}
		}
		.tr3td2{
			position: relative;
			top: 7px;
			left: -1px;
			select{
				width: 50px;
			}
		}
		.tr4td1{
			padding: 2px 0 0 15px;
			letter-spacing: 1px;
			span{
				line-height: 8px;
				letter-spacing: 1.2px;
			}
		}
		.tr4td2{
			padding: 6px 0 0 0;
		}

	}



	.setRightTwo{
		width: 80px;
		.tr1td1{
			padding: 4px 0 0 10px;
			line-height: 7.8px;
			font-size: 9px;
			letter-spacing: .5px;
			span{
				font-size: 8px;
				letter-spacing: 1px;
				padding: 0 0 0 0;
			}
		}
		.tr2tr1{
			padding: 3px 0 0 12px;
			
		}
		.tr3td1{
			padding: 6px 0 0 10px;
			line-height: 8.9px;
		}
		.tr4td1{
			padding: 3px 0 0 12px;
		}
	}
	
	.but{
			color: #154467;
			font-size: 14px;
			width: 55px;
			height: 16px;
			background: none;
			border: 0;
			line-height: 14px;
			font-style: italic;
			text-decoration: underline;
			cursor: pointer;
			position: relative;
			top: 4px;
			left: 15px;	
		}


}
.settings::after{
	content: "";
	display: block;
	clear: both;
}









/*content*/
.content{
width: 110%;
}

.content > aside {
  float: left;
}



.contentContainer {
  width: 526px;
  height: 628px;
  padding: 15px 29px 32px 21px;
  @include box;
  @include boxp;
  @include grad(rgba(210,207,209,.49), rgba(35,75,93,.49));
  @include bor-rad(5px);

  .ccWrapper{
  		width: 136px;
	  	height: 180px;
	  	float: left;
	  	margin: 0 31px 22px 0;
	  	@include box;
	  	@include boxp;
	h4{
		text-align: center;
		font-size: 14.59px;
		font-family: lucidas;
		color: #206988;	
	}
	.ccText{
		text-align: center;
		font-size: 12.77px;
		font-family: lucidas;
		color: #1f2528;	
		
	}

	/*corrections*/
/*1*/
	.textGY{
		margin: -1px 0 2px 4px;	
	}
	.price1{
		margin: 3px 0 0 12px;
	}
	
/*2*/
	.h4Nok1{
		margin: 0 1px 0 6px;
	}
	.pNok1{
		margin: 0 1px 0 9px;
		/*letter-spacing: 0.1px;
		word-spacing: 0px;*/	
	}

	.price2{
		margin: 5px 0 0 15px;
		word-spacing: 0.9px;
		letter-spacing: 0.2px;
	}

/*3*/
	.h4Hk1{
		margin: 0 1px 0 9px;	
	}

/*5*/
	.h4num5{
		margin: -2px 1px 0 3px;	
	}
	.p5{
		margin: 0px 1px 2px 5px;		
	}
/*6*/
	.h4num6{
		margin: -2px -3px -1px 5px;
	}
	.p6{
		margin: 1px 0 2px 0;	
	}

/*7*/
	.h4GJ3{
		margin: -1px 3px 0 0;
	}

/*8*/
	.h4num8{
		margin: 0px 0 2px 5px;		
	}
	.p8{
		margin: -3px 0 2px 5px;			
	}
	.price8{
		margin: 3px 0 0 15px;
		word-spacing: 0.9px;
		letter-spacing: 0.2px;
	}

/*9*/
	.h4num9{
		margin: -1px 0 2px 7px;		
	}
	.p9{
		margin: -2px 0 2px 3px;			
	}


	.ccPrice{
		text-align: center;
		font-family: arial;
		font-size: 16px;
		font-weight: bold;
		font-style: italic;
		color: #114165;
		span{
			font-size: 12px;
			letter-spacing: 1px;
		}
	}

	  div{
	  	width: 136px;
	  	height: 127px;
	  	border: 1px solid #a4aeb1;
	  	@include bor-rad(8px);
	  	@include box;
	  	@include boxp;
	  }
	  .cc1{
	  	background: #fff url(../img/prod1.jpg) no-repeat 29px 5px;
	  }
	  .cc2{
	  	background: #fff url(../img/prod2.jpg) no-repeat  33px 5px;
	  }
	  .cc3{
	  	background: #fff url(../img/prod3.jpg) no-repeat 28px 5px;
	  }
	  .cc4{
	  	background: #fff url(../img/prod4.jpg) no-repeat 29px 5px;
	  }
	  .cc5{
	  	background: #fff url(../img/prod5.jpg) no-repeat 32px 4px;
	  }
	  .cc6{
	  	background: #fff url(../img/prod6.jpg) no-repeat 28px 4px;
	  }
	  .cc7{
	  	background: #fff url(../img/prod7.jpg) no-repeat 29px 5px;
	  }
	  .cc8{
	  	background: #fff url(../img/prod8.jpg) no-repeat 33px 5px;
	  }
	  .cc9{
	  	background: #fff url(../img/prod9.jpg) no-repeat 28px 5px;
	  }
	}
	.ccWrapper:nth-child(3n){
	  margin: 0 0 22px 1px;
	  }
	  .ccWrapper:nth-child(4){
	  margin: 0 31px 24px 0;
	  }
	  .ccWrapper:nth-child(5){
	  margin: 0 32px 24px 0;
	  }
	  .ccWrapper:nth-child(6){
	  margin: 0 0 24px 0;
	  }
}


/*left+right*/


.contentLeft{
  width: 192px;
  height: 628px;
  padding: 3px 0 0 0;
  @include box;
  @include boxp;
  h3{
		display: block;
		width: 179px;
		height: 26px;
		border: 1px solid #79878d;
		line-height: 26px;
		padding: 0 0 0 26px;
		color: #0c3256;
		font-size: 12.73px;
		letter-spacing: -0.4px;
		text-transform: uppercase;
		font-family: lucidas;
		@include bor-rad(20px);
		@include box;
		@include boxp;
		@include boxsh(3px, 3px, 3px, rgba(150,150,150,.75));
	}
	  	h3::after{
  		content: "";
  		display: block;
  		width: 20px;
  		height: 20px;
  		background: #175173 url(../img/catalog.png) no-repeat center;
  		@include bor-rad(50%);
  		position: relative;
  		top: -24px;
  		left: -24px;
  	}
  	h4{
		display: block;
		width: 148px;
		height: 26px;
		border: 1px solid #79878d;
		line-height: 26px;
		padding: 0 0 0 29px;
		color: #0c3256;
		font-size: 14px;
		font-family: arial;
		text-transform: uppercase;
		margin: 12px 0 3px 0;
		letter-spacing: .2px;
		@include bor-rad(20px);
		@include box;
		@include boxp;
		/*@include boxsh(3px, 3px, 3px, rgba(150,150,150,.75));*/
	}

	h4::after{
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		@include bor-rad(50%);
		border: 5px solid #114165;
		position: relative;
		top: -25px;
		left: -26px;
	}
	li{
		list-style:circle inside;
		margin: 0 0 10px 36px;
		a{
			margin: 0 0 0 -4px;
			font-family: lucidas;
			font-size: 12.73px;
			color: #465961;
			letter-spacing: -.1px;
		}	
	}
	li:hover{
		a{
			font-weight: bold;
			text-decoration: underline;
			font-family: arial;
			font-size: 14px;
			font-style: italic;
		}
	}

	li:last-child{
		margin: 0 0 -9px 36px;
	}
	.correct{
		padding: 0 0 0 28px;
		margin: 10px 0 3px 0;
	}
  
}

/*right*/

.contentRight{
  width: 192px;
  height: 628px; 
  padding: 0 0 0 6px;
  @include box;
  @include boxp;


	h3{
		display: block;
		width: 182px;
		height: 26px;
		border: 1px solid #79878d;
		line-height: 26px;
		padding: 0 0 0 31px;
		color: #0c3256;
		font-size: 14px;
		text-transform: uppercase;
		font-family: lucidas;
		@include bor-rad(20px);
		@include box;
		@include boxp;
		@include boxsh(3px, 3px, 3px, rgba(150,150,150,.75));
	}
	  	h3::after{
  		content: "";
  		display: block;
  		width: 22px;
  		height: 22px;
  		background: #175173 url(../img/catalog.png) no-repeat center;
  		@include bor-rad(50%);
  		position: relative;
  		top: -24px;
  		left: -27px;
  	}
	h4{
		display: block;
		width: 135px;
		height: 26px;
		border: 1px solid #79878d;
		line-height: 26px;
		padding: 0 0 0 30px;
		color: #0c3256;
		font-size: 14px;
		font-family: arial;
		text-transform: uppercase;
		margin: 14px 0 -5px 16px;
		letter-spacing: .2px;
		@include bor-rad(20px);
		@include box;
		@include boxp;
		/*@include boxsh(3px, 3px, 3px, rgba(150,150,150,.75));*/
	}

	h4::after{
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		@include bor-rad(50%);
		border: 5px solid #114165;
		position: relative;
		top: -25px;
		left: -26px;
	}
	.correct::after{
			position: relative;
		top: -24px;
		left: -28px;	
	}

	.correct{
		margin: 16px 0 -2px 16px;
	}	
	.box{
		margin: 10px 10px 0 20px;
		opacity: 0;
	}
	.lab,
	.lab2{
		font-size: 12.73px;
		color: #465961;
		font-family: lucidas;
		margin: 0 0 0 -8px;
	}

	.lab2:before,
	.lab:before{
		content: "";
		width: 8px;
		height: 8px;
		display: inline-block;
		border: 1px solid #114165;
		vertical-align: middle;
		position: relative;
		left: -12px;
		cursor: pointer;
		@include boxsh(inset 1px, 1px, 1px, rgba(0,0,0,.75));	
	}

	.box:checked + .lab:before,
	.box:checked + .lab2:before{
		content: "\2713";
	    font-size: 15px;
	    color: #000;
	    /*vertical-align: top;*/
	    text-align: center;
	    line-height: 8px;
	}

	
	.button{
		width: 82px;
		height: 25px;
		border: 1px solid #a7abae;
		color: #e5e9ea;
		font-family: arial;
		font-size: 11px;
		margin: 20px 0 0 25px;
		letter-spacing: 1.1px;
		@include bor-rad(20px);
		background: -webkit-linear-gradient(#206988, #114165, #0c3256);
		background: -o-linear-gradient(#206988, #114165, #0c3256);
		background: -moz-linear-gradient(#206988, #114165, #0c3256);
		background: linear-gradient(#206988, #114165, #0c3256);
		@include boxsh(3px, 3px, 2px, #c8c8c8);
		cursor: pointer;

	}

}

.content::after{
  content: "";
  display: block;
  clear: both;
}

/*pr*/
.pr{


ul{
	text-align: center;
	margin: 40px 0 20px 0;
}
li{
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
}


.brandCorrect4{
	position: relative;
	top: -1px;
	left: -1px;
}
.brandCorrect5{
	position: relative;
	top: 1px;
	left: -2px;
}
.brandCorrect6{
	position: relative;
	top: -4px;
	left: -3px;
}
.brandCorrect7{
	position: relative;
	top: 1px;
	left: -4px;
}
.brandCorrect8{
	position: relative;
	top: 1px;
	left: -4px;
}

}

.footter{
	width: 100%;
	height: 100px;
	background: #213a4d;
	padding: 7px 0 0px 0;
	text-align: center;
	@include box;
	@include boxp;
	ul{
		text-align: center;
		margin: 0 0 10px -3px;
	}
	li{
		display: inline-block;
		padding: 0 11px;
		margin: 0 1px 0 1px;
		border-right: 1px solid #8d989f;
		line-height: 9px;
		a{
			font-size: 12px;
			font-family: arial;
			color: #bec6c9;

		}
	}
	li:last-child{
		border-right: 2px dashed rgba(0,0,0,0);
	}
	.footterLiCorrect1{
		position: relative;
		top: 0;
		left: 6px;
	}
	.footterLiCorrect2{
		position: relative;
		top: 0;
		left: 3px;	
	}
	.footterLiCorrect3{
		position: relative;
		top: 0;
		left: 1px;	
	}
	.footterLiCorrect4{
		position: relative;
		top: 0;
		left: 0;	
	}


	.address{
		font-family: arial;
		font-size: 10px;
		color: #7f4740;
	}
}